.CV {
    padding: 50px;
}

.main {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    padding: 20mm 25.4mm;

    // Width and height in millimetres
    // (default)
    --page-width: 100;
    --page-height: 100;

    // Ratio of millimetres to pixels, e.g. 0.5 means 210mm translates to 105px
    --base-scale: 1mm;

    border: 1px solid #ccc;
    border-radius: 10px;
    width: calc(var(--page-width) * var(--base-scale));
    height: calc(var(--page-height) * var(--base-scale));
    box-sizing: border-box;

    &.a4 {
        --page-width: 210;
        --page-height: 297;
    }
}

.CVBuilderForm {
    textarea {
        font-family: 'Roboto Mono', monospace;
        font-size: 80%;
    }
}
